<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../public/css/style.css">
    <link rel="stylesheet" href="../../../../public/css/index_mas.css">

</head>
<body>
    <section class="body">
        <nav class="d-flex">
            <div class="nav-atas d-flex">
                <a href="" class="logo" data-page="Admin"><span>Lelang</span>Kuy</a>
                <div class="main-nav">
                    <a href="" class="nav-link">Barang</a>
                    <a href="" class="nav-link">Lelang</a>
                    <a href="" class="nav-link">Laporan</a>
                    <a href="logout" class="logout">Logout</a>
                </div>
            </div>
            
            <div class="search">
                <div class="text-input cari-input">
                    <input type="text" name="search" placeholder="cari . . . ">
                    <button type="submit">cari</button>
                </div>
            </div>
        </nav>
        <main class="container-100">
            
            <div class="menu-control">
                <div class="page-title">
                    <h1>Daftar Barang</h1>
                </div>
                <div class="control">
                    <a href="" class="btn-control"><img src="../../../../public\img\plus-solid.svg" alt="tambah"> Tambah Barang</a>
                </div>
            </div>
            
            <div class="container-item">

                <div class="item">
                    <div class="item-option">
                        <a href="" class="item-lelang">Lelang</a>
                        <a href="" class="item-ubah">Ubah</a>
                        <a href="" class="item-hapus">Hapus</a>
                    </div>
                    <a href="">
                        <div class="detail">
                            <p class="detail-nama">source code ujian sekolah</p>
                            <p class="detail-harga">Stok barang : 100</p>
                        </div>
                    </a>
                </div>

                <div class="item">
                    <div class="item-option">
                        <a href="" class="item-lelang">Lelang</a>
                        <a href="" class="item-ubah">Ubah</a>
                        <a href="" class="item-hapus">Hapus</a>
                    </div>
                    <a href="">
                        <div class="detail">
                            <p class="detail-nama">source code ujian sekolah</p>
                            <p class="detail-harga">Stok barang : 100</p>
                        </div>
                    </a>
                </div>

                <div class="item">
                    <div class="item-option">
                        <a href="" class="item-lelang">Lelang</a>
                        <a href="" class="item-ubah">Ubah</a>
                        <a href="" class="item-hapus">Hapus</a>
                    </div>
                    <a href="">
                        <div class="detail">
                            <p class="detail-nama">source code ujian sekolah</p>
                            <p class="detail-harga">Stok barang : 100</p>
                        </div>
                    </a>
                </div>

                <div class="item">
                    <div class="item-option">
                        <a href="" class="item-lelang">Lelang</a>
                        <a href="" class="item-ubah">Ubah</a>
                        <a href="" class="item-hapus">Hapus</a>
                    </div>
                    <a href="">
                        <div class="detail">
                            <p class="detail-nama">source code ujian sekolah</p>
                            <p class="detail-harga">Stok barang : 100</p>
                        </div>
                    </a>
                </div>

                <div class="item">
                    <div class="item-option">
                        <a href="" class="item-lelang">Lelang</a>
                        <a href="" class="item-ubah">Ubah</a>
                        <a href="" class="item-hapus">Hapus</a>
                    </div>
                    <a href="">
                        <div class="detail">
                            <p class="detail-nama">source code ujian sekolah</p>
                            <p class="detail-harga">Stok barang : 100</p>
                        </div>
                    </a>
                </div>

            </div>
        </main>

        <footer>
            <p>copyright &copy; yuanda 2020</p>
        </footer>
    </section>
</body>
</html>