<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../public/css/style.css">
    <link rel="stylesheet" href="../../../../public/css/index_mas.css">

</head>
<body>
    <section class="body">
        <nav class="d-flex">
            <div class="nav-atas d-flex">
                <a href="" class="logo" data-page="Admin"><span>Lelang</span>Kuy</a>
                <div class="main-nav">
                    <a href="" class="profile-link">yuanda Hanif</a>
                    <a href="logout" class="logout">Logout</a>
                </div>
            </div>
        </nav>

        <main class="container-100">
            <div class="menu-control">
                <div class="page-title">
                    <h1>Tambah Barang</h1>
                </div>
                <div class="control">
                    <a href="" class="btn-control"><img src="../../../../public\img\chevron-left-solid.svg" alt="tambah"> kembali</a>
                </div>
            </div>

            <div class="container-item">
                <div class="row">
                    <div class="col">
                        <div class="form-container-simple">
                                <form action="" method="post">
                                    <div class="row">
                                        <div class="col">
                                            <div class="text-input">
                                                <label for="nama">Nama Barang</label>
                                                <input type="number" name="nama" id="nama" placeholder="contoh: redmi 9 smax">
                                            </div>
        
                                            <div class="text-input">
                                                <label for="merk">Merek</label>
                                                <input type="text" name="merk" id="merk" placeholder="contoh: samsung">
                                            </div>
        
                                            <div class="text-input">
                                                <label for="stok">Stok</label>
                                                <input type="number" name="stok" id="stok" placeholder="contoh: 100">
                                            </div>
        
                                            <div class="select-input">
                                                <label for="kondisi">Kondisi</label>
                                                <select name="kondisi" id="kondisi">
                                                    <option value="Sangat Baik">Sangat Baik</option>
                                                    <option value="Baik">Baik</option>
                                                    <option value="Buruk">Buruk</option>
                                                </select>
                                            </div>
        
                                            <div class="text-input">
                                                <label for="spek">Spesifikasi</label>
                                                <textarea name="spek" id="spek" cols="10" rows="3" placeholder="contoh: lorem ipsum is simple"></textarea>
                                            </div>
        
                                            <div class="input-button">
                                                <button type="submit">simpan</button>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="img-large">
                                                <img src="../../../../public/img/test.png" alt="tambah">
                                            </div>
                                            <div class="text-input">
                                                <label for="img">Gambar</label>
                                                <input type="file" name="img" id="img">
                                            </div>
                                            
                                        </div>
                                    </div>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <p>copyright &copy; yuanda 2020</p>
        </footer>
    </section>
</body>
</html>