<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../public/css/style.css">
    <link rel="stylesheet" href="./index_mas.css">

</head>
<body>
    <section class="body">
        <nav class="d-flex">
            <div class="nav-atas d-flex">
                <a href="" class="logo" data-page="Admin"><span>Lelang</span>Kuy</a>
                <div class="main-nav">
                    <a href="" class="profile-link">yuanda Hanif</a>
                    <a href="logout" class="logout">Logout</a>
                </div>
            </div>
        </nav>
        <main class="container-100">
            <div class="page-title">
                <h1>Detail Barang</h1>
            </div>
            <div class="container-item">
                <div class="row">
                    <div class="col">
                        <div class="img-med">
                            <img src="../../../user_file/img/1581514466IMG_20200211_100811.jpg5e43fee2b6586.jpg" alt="kunci">
                        </div>

                        <h3>Harga awal : Rp 1.000.000.000</h3>
                        
                        <div class="history-tawar">
                            <h4>penawaran terakhir : </h4>
                            <p><span>Rp 1.500.000.000</span> <span>Rp 1.400.000.000</span> <span>Rp 1.100.000.000</span></p>
                        </div>

                        <div class="lelang">
                            <form action="" method="post">
                                <div class="text-input">
                                    <label for="">Penawaran harga : </label>
                                    <input type="text" placeholder="masukkan penawaran harga" min="1000000000" name="harga_lelang" id="">
                                    
                                </div>
                                <div class="input-button">
                                    <button type="submit">Tawar</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                    <div class="col">
                        <div class="detail-barang">
                            <h1>source code ujian sekolah</h1>
                            <h3>Merek : buatanSendiri</h3>
                            <h3>Kondisi : bekas baik</h3>
                            <p>oleh : yuanda</p>
                            <div class="spek">
                                <h3>Spesifikasi :</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum unde modi, quaerat quo voluptate ratione laborum reprehenderit odio error, consequatur dolorum. Laboriosam voluptates eaque saepe nihil illum itaque vel amet aperiam inventore rem, doloribus tenetur molestias voluptatum maxime error excepturi.</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <p>copyright &copy; yuanda 2020</p>
        </footer>
    </section>
</body>
</html>