<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../public/css/style.css">
    <link rel="stylesheet" href="./index_mas.css">

</head>
<body>
    <section class="body">
        <nav class="d-flex">
            <div class="nav-atas d-flex">
                <a href="" class="logo" data-page="Admin"><span>Lelang</span>Kuy</a>
                <div class="main-nav">
                    <a href="" class="profile-link">yuanda Hanif</a>
                    <a href="logout" class="logout">Logout</a>
                </div>
            </div>
        </nav>
        <main class="container-100">
            <div class="page-title">
                <h1>Profile</h1>
            </div>
            <div class="container-item">
                <div class="row px-4">
                    <div class="col">
                        <div class="profile">
                            <ul>
                                <li><h3>Yuanda hanif hisyam</h3></li>
                                <li>
                                    <table>
                                        <tr>
                                            <td><p>NIK </p></td>
                                            <td><p> 123412341213123124</p></td>
                                        </tr>
                                        <tr>
                                            <td><p>No.Telp </p></td>
                                            <td><p> 081392670813</p></td>
                                        </tr>
                                        <tr>
                                            <td><p>Email </p></td>
                                            <td><p> yuan.nanode@gmail.com</p></td>
                                        </tr>
                                        <tr>
                                            <td><p>Alamat </p></td>
                                            <td><p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel recusandae aut ut quas perferendis ipsum porro dolores quidem fuga voluptatum.</p></td>
                                        </tr>
                                    </table>
                                </li>
                            </ul>

                            <div class="form-container-simple">
                                <h3 class="form-title">ubah profile</h3>
                                <form action="" method="post">

                                    <div class="text-input">
                                        <label for="nik">NIK</label>
                                        <input type="number" name="nik" id="nik" placeholder="contoh: 1234567890123">
                                    </div>

                                    <div class="text-input">
                                        <label for="telp">No.Telpon</label>
                                        <input type="text" name="telp" id="telp" minlength="11" maxlength="12" placeholder="contoh: 081392670813">
                                    </div>

                                    <div class="text-input">
                                        <label for="email">Email</label>
                                        <input type="email" name="email" id="email" placeholder="contoh: pepelang@lelang.com">
                                    </div>

                                    <div class="text-input">
                                        <label for="alamat">Alamat</label>
                                        <textarea name="alamt" id="alamat" cols="10" rows="3" placeholder="contoh: Jl.kenangan No.16 Butuh Temanggung Temanggung Jawa Tengah"></textarea>
                                    </div>

                                    <div class="input-button">
                                        <button type="submit">simpan</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col">
                        <div class="table">
                            <table>
                                <tr>
                                    <th>no</th>
                                    <th>tanggal</th>
                                    <th>nama barang</th>
                                    <th>penawaran harga</th>
                                    <th>status</th>
                                </tr>

                                <tr>
                                    <td>1</td>
                                    <td>12-121-1222</td>
                                    <td>hp</td>
                                    <td>12.2341.231</td>
                                    <td><p class="badge-green">Berhasil</p></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>12-121-1222</td>
                                    <td>hp</td>
                                    <td>12.2341.231</td>
                                    <td><p class="badge-red">Gagal</p></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>12-121-1222</td>
                                    <td>hp</td>
                                    <td>12.2341.231</td>
                                    <td><p class="badge-green">Berhasil</p></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>12-121-1222</td>
                                    <td>hp</td>
                                    <td>12.2341.231</td>
                                    <td><p class="badge-green">Berhasil</p></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>12-121-1222</td>
                                    <td>hp</td>
                                    <td>12.2341.231</td>
                                    <td><p class="badge-red">Gagal</p></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>12-121-1222</td>
                                    <td>hp</td>
                                    <td>12.2341.231</td>
                                    <td><p class="badge-green">Berhasil</p></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>12-121-1222</td>
                                    <td>hp</td>
                                    <td>12.2341.231</td>
                                    <td><p class="badge-green">Berhasil</p></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>12-121-1222</td>
                                    <td>hp</td>
                                    <td>12.2341.231</td>
                                    <td><p class="badge-red">Gagal</p></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>12-121-1222</td>
                                    <td>hp</td>
                                    <td>12.2341.231</td>
                                    <td><p class="badge-green">Berhasil</p></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>12-121-1222</td>
                                    <td>hp</td>
                                    <td>12.2341.231</td>
                                    <td><p class="badge-green">Berhasil</p></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>12-121-1222</td>
                                    <td>hp</td>
                                    <td>12.2341.231</td>
                                    <td><p class="badge-green">Berhasil</p></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>12-121-1222</td>
                                    <td>hp</td>
                                    <td>12.2341.231</td>
                                    <td><p class="badge-green">Berhasil</p></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>12-121-1222</td>
                                    <td>hp</td>
                                    <td>12.2341.231</td>
                                    <td><p class="badge-green">Berhasil</p></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>12-121-1222</td>
                                    <td>hp</td>
                                    <td>12.2341.231</td>
                                    <td><p class="badge-green">Berhasil</p></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>12-121-1222</td>
                                    <td>hp</td>
                                    <td>12.2341.231</td>
                                    <td><p class="badge-red">Gagal</p></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>12-121-1222</td>
                                    <td>hp</td>
                                    <td>12.2341.231</td>
                                    <td><p class="badge-red">Gagal</p></td>
                                </tr>
                            </table>

                            <a href="" class="link-selengkapnya">selengkapnya</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <p>copyright &copy; yuanda 2020</p>
        </footer>
    </section>
</body>
</html>