.body{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-basis: 1;
    min-width: 100%;
    min-height: 100vh;
}
nav{
    width: 100%;
    background-color: aquamarine;
    flex-shrink: 1;
    flex-basis: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
}
nav > div {
    padding: 1em 3em;
}
.nav-atas{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: .2em .2em 1em rgba(0, 0, 0, 0.116);
}
.logo{
    font-size: 2em;
    font-weight: lighter;
    color: white;
    position: relative;
}
.logo span{
    font-weight: 700;
}
.profile-link{
    color: white;
    transition: color .5s;
}
.logout{
    padding: .5em .7em;
    background-color: transparent;
    color: white;
    font-weight: 500;
    border-radius: .4em;
    transition: .7s;
}.logout:hover,.profile-link:hover{
    color: black;
}
.search{
    margin-top: 1em;
    /* border-top: 2px solid rgba(126, 126, 126, 0.61); */
    width: 100%;
}
.cari-input{
    display: flex;
    width: 40%;
    margin: 0 auto;
}
.cari-input input{
    padding: .5em 1em;
    border: 2px solid white;
    background-color: rgb(107, 226, 186);
    
}
.cari-input button{
    cursor: pointer;
    padding: 0 3em;
    font-size: .8em;
    outline: none;
    border: none;
    background-color: white;
}

/* body */
.container-100{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    margin: 0 auto;
    padding: 2em 3em;
    min-width: 100%;
    height: 100%;
    flex-grow: 1;
    box-sizing: border-box;
}
.page-title{
    font-size: 1.5em;
    font-weight: lighter;
    border-left: 3px solid aquamarine;
    padding: .2em .4em;
}
.container-item{
    display: flex;
    padding: 2em 0;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    width: 16em;
    height: 20em;
    margin: 0 1.5em 3em;
    background-color: aqua;
    box-shadow: .2em .2em .4em rgba(0, 0, 0, 0.418);
    transition: .5s box-shadow;
}.item:hover{
    box-shadow: .4em .4em .6em rgba(0, 0, 0, 0.418);
}

.item a{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image : url('../../../user_file/img/1581514466IMG_20200211_100811.jpg5e43fee2b6586.jpg');
}
.detail{
    width: 100%;
    padding: 1em;
    font-size: large;
    color: black;
    background-color: rgba(255, 255, 255, 0.863);
}
.detail-nama{
    font-size: 1.2em;
    line-height: 1;
    margin-bottom: .5em;
}

footer{
    width: 100%;
    background-color: aquamarine;
    text-align: center;
    padding: 1em 0;
    box-sizing: border-box;
}

/* admin page */
.logo::after{
    content: attr(data-page);
    position: absolute;
    right: 2em;
    bottom: -.5em;
    font-size: .3em;
}

/* .detail-barang{
} */
.detail-barang h1{
    font-size: 2.3em;
    font-weight: 600;
    margin: .3em 0 ;
    padding-bottom: .3em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);
}
.detail-barang h3{
    font-size: 1.2em;
    font-weight: 500;
    margin: .25em 0;
}
.spek{
    margin-top: .5em;
}
.spek p {
    width: 100%;
}
.history-tawar{
    margin: .5em 0 ;
}
.history-tawar p{
    padding: .5em 0;
}
.history-tawar p span{
    padding: .2em .5em;
    border-radius: 1em;
    color: white;
}
.history-tawar p span:nth-child(1){
    background-color: red;
}
.history-tawar p span:nth-child(2){
    background-color: green;
}
.history-tawar p span:nth-child(3){
    background-color: blue;
}
.lelang input{
    padding: .8em .3em;
    width: 97%;
}
.lelang button{
    padding-right: 5em;
    padding-left: 5em;
}
/* masyarakat profile */
.table table{
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}
.table table tr{
    border-bottom: 2px solid rgb(161, 161, 161);
}
.table table th{
    background-color: aquamarine;
    padding: .5em .5em;
}
.table table td {
    padding: .5em 0;
    text-align: center;
}
.profile ul{
    margin-bottom: 5em;
}
.profile ul li{
    list-style: none;
}
.profile h3{
    font-size: 2em;
    font-weight: 500;
}
.profile li > *{
    padding: .3em 0;
}
.profile table tr td{
    font-size: 1.2em;
    padding: .2em 0;
}
.profile table tr td:nth-child(1) p{
    padding-right: 2.5em;
    color: coral;
    font-weight: 500;
}
.profile table tr td:nth-child(2) p{
    box-sizing: border-box;
    padding-right: 1em;
}
.link-selengkapnya{
    margin: 1em auto;
    display: block;
    width: fit-content;
}
