<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../public/css/style.css">
    <link rel="stylesheet" href="./index_mas.css">

</head>
<body>
    <section class="body">
        <nav class="d-flex">
            <div class="nav-atas d-flex">
                <a href="" class="logo" data-page="Admin"><span>Lelang</span>Kuy</a>
                <div class="main-nav">
                    <a href="" class="profile-link">yuanda Hanif</a>
                    <a href="logout" class="logout">Logout</a>
                </div>
            </div>
            
            <div class="search">
                <div class="text-input cari-input">
                    <input type="text" name="search" placeholder="cari . . . ">
                    <button type="submit">cari</button>
                </div>
            </div>
        </nav>
        <main class="container-100">
            <div class="page-title">
                <h1>Daftar Lelang Barang</h1>
            </div>
            <div class="container-item">

                <div class="item">
                    <a href="">
                        <div class="detail">
                            <p class="detail-nama">source code ujian sekolah</p>
                            <p class="detail-harga">Rp. 1000.000.000</p>
                        </div>
                    </a>
                </div>

                <div class="item">
                    <a href="">
                        <div class="detail">
                            <p class="detail-nama">source code ujian sekolah</p>
                            <p class="detail-harga">Rp. 1000.000.000</p>
                        </div>
                    </a>
                </div>

                <div class="item">
                    <a href="">
                        <div class="detail">
                            <p class="detail-nama">source code ujian sekolah</p>
                            <p class="detail-harga">Rp. 1000.000.000</p>
                        </div>
                    </a>
                </div>

                <div class="item">
                    <a href="">
                        <div class="detail">
                            <p class="detail-nama">source code ujian sekolah</p>
                            <p class="detail-harga">Rp. 1000.000.000</p>
                        </div>
                    </a>
                </div>

                <!-- 4 -->

                <div class="item">
                    <a href="">
                        <div class="detail">
                            <p class="detail-nama">source code ujian sekolah</p>
                            <p class="detail-harga">Rp. 1000.000.000</p>
                        </div>
                    </a>
                </div>

                <div class="item">
                    <a href="">
                        <div class="detail">
                            <p class="detail-nama">source code ujian sekolah</p>
                            <p class="detail-harga">Rp. 1000.000.000</p>
                        </div>
                    </a>
                </div>

                <div class="item">
                    <a href="">
                        <div class="detail">
                            <p class="detail-nama">source code ujian sekolah</p>
                            <p class="detail-harga">Rp. 1000.000.000</p>
                        </div>
                    </a>
                </div>

                <div class="item">
                    <a href="">
                        <div class="detail">
                            <p class="detail-nama">source code ujian sekolah</p>
                            <p class="detail-harga">Rp. 1000.000.000</p>
                        </div>
                    </a>
                </div>
                
                <div class="item">
                    <a href="">
                        <div class="detail">
                            <p class="detail-nama">source code ujian sekolah</p>
                            <p class="detail-harga">Rp. 1000.000.000</p>
                        </div>
                    </a>
                </div>

            </div>
        </main>

        <footer>
            <p>copyright &copy; yuanda 2020</p>
        </footer>
    </section>
</body>
</html>