<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/style.css">
    <!-- <link rel="stylesheet" href="../../../public/css/debug.css"> -->
</head>
<body>
    <section class="body justify-center align-items-center">
        <div class="form-container">
            <div class="form-title">
                <h1 data-before="for masyarakat">Sign up</h1>
            </div>
            <form action="" method="post">
                <div class="text-input">
                    <label for="username">username</label>
                    <input type="text" name="username" id="username">
                </div>

                <div class="text-input">
                    <label for="password">password</label>
                    <input type="password" name="password" id="password">
                </div>

                <div class="text-input">
                    <label for="email">email</label>
                    <input type="email" name="email" id="email">
                    <div class="p-small">
                        <p>Sudah punya akun. klik <a href="">di sini.</a></p>
                    </div>
                </div>

                <div class="input-button">
                    <button type="submit">Sign up</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>